<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Votre panier</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Sous-total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart.items">
                            <td>{{item.name}}</td>
                            <td>{{item.price}} €</td>
                            <td>
                                <button class="btn btn-default" (click)="removeOneFromCart(item)">-</button>
                                {{item.quantity}}
                                <button class="btn btn-default" (click)="addToCart(item)">+</button>
                            </td>
                            <td>{{this.arround(item.price * item.quantity) }} €</td>
                            <td><button class="btn btn-danger" (click)="removeFromCart(item)">x</button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td><strong>{{cart.total}} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


