.navbar {
  justify-content: space-between;
  background-color: #A16735;
  margin-bottom: 30px;
  h2 {
    margin-left: 1em;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 27px;
  }
  a {
    color: #ffffff;
    font-size: 1.5em;
    span {
      padding-right: 1em;
    }
    &.active {
      color: #465884;
    }
  }


}


