<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Modifier <strong>{{product?.name}}</strong></h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nom du produit</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Entrer un nom de produit">
        <div
          *ngIf="updateProductForm.get('name').invalid && (updateProductForm.get('name').dirty || updateProductForm.get('name').touched)"
          class="alert alert-danger">
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price" value="{{product?.price}}" placeholder="Entrer le prix du produit">
      </div>
      <div class="form-group mt-3">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description" value="{{product?.description}}" placeholder="Description du produit"></textarea>
      </div>
      <div class="form-group mt-3">
        <label for="description">URL de l'image</label>
        <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" value="{{product?.imageUrl}}" placeholder="Url de l'image du produit">
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="updateProductForm.invalid">Valider</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()">Annuler</button>
  </div>
</div>
